* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}
a{
  cursor: pointer;
}
body {
  background-image: url(https://res.cloudinary.com/osstrax/image/upload/v1629512873/landing_sapiensa/img/patron_vf74mh.jpg);
}
#web_ref {
  display: none;
}
.contenedor_1 {
  background-color: rgba(245, 249, 250, 0.904);
  width: 90%;
  margin: 0 auto;
}
#cont_primario {
  /* width: 100%; */
  height: 750px;
  /* border: 2px solid rgb(41, 211, 241); */
  background-image: url(https://res.cloudinary.com/osstrax/image/upload/v1627150796/landing_sapiensa/img/slide_1_tq4vpn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
#centrado {
  display: flex;
  justify-content: center;
}

#menu_prin {
  align-items: center;
  background-color: mintcream;
  /* border: 2px solid rgb(40, 9, 221); */
  border-radius: 1em;
  box-shadow: 0px 0px 5px #a7caaa;
  justify-content: space-between;
  display: inline-flex;
  margin: .6% auto;
  padding: .6%;
  position: fixed;
  width: 70%;
  z-index: 2;
}
#logo {
  width: 25%;
  height: 95%;
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#nav_general {
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  height: 95%;
  width: 70%;
  /* border: 2px solid rgb(25, 231, 35); */
}
#nav_list {
  display: contents;
  align-items: center;
}
#nav_list a:hover {
  font-weight: 400;
  color: #eb6608;
  /* border-bottom: 2px solid #00b1bb; */
  transition-duration: 0.1s;
}
#contenedor_news {
  position: absolute;
  width: 50%;
  /* border: 2px solid red; */
  top: 40%;
  left: 14.5%;
}
#contenedor_news,
#titulo_news,
#descripcion,
#cta_mas_info {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2% 1%;
  justify-content: left;
}
#titulo_news {
  /* border: 2px solid green; */
  font-size: 1.5rem;
  line-height: 2.4rem;
  width: 100%;
}
#titulo_news,
h1 {
  font-weight: 700;
}
#titulo_news strong {
  color: #0d10ce;
  font-weight: 800;
}
#descripcion {
  width: 100%;
  height: 30%;
  /* border: 2px solid blue; */
}
#cta_mas_info {
  width: 100%;
  height: 30%;
  /* border: 2px solid yellow; */
}
.btn_news {
  /* border: 2px solid #00b1bb; */
  background-color: rgba(240, 255, 255, 0.938);
  border-radius: 1.4em;
  color: #00b1bb;
  display: flex;
  flex-direction: column-reverse;
  font-weight: 600;
  justify-content: center;
  margin: 0 40px 0 0;
  text-align: center;
  padding: 8px 30px;
}
.leer_mas:hover {
  background-color: #eb6608;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px #541b5f;
  border: none;
  color: azure;
}

.e_book:hover {
  background-color: #eb6608;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px #541b5f;
  border: none;
  color: azure;
}

#cont_slider {
  width: 80%;
  /* border: 1px solid brown; */
  height: 550px;
  margin: 5% auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* #contenedor_slider {
  width: 90%;
} */

.slider_ {
  /* width: 33%; */
  /* border: 1px solid rebeccapurple; */
  display: flex;
  align-items: center;
}

#slider_03, #slider_01 {
  width: 25%;
  /* border: 5px solid rgb(44, 241, 5); */
  flex-direction: row-reverse;
  box-shadow: 2px 2px 12px #6f70707c;
}
#slider_02 {
  width: 50%;
  /* border: 5px solid rgb(241, 159, 5); */
  box-shadow: 2px 2px 12px #6f70707c;
}

#img_01 {
  /* border: 2px solid rgb(10, 236, 67); */
  width: 350px;
}
#img_02 {
  /* border: 2px solid rgb(10, 236, 67); */
  width: 350px;
}
#img_03 {
  /* border: 2px solid rgb(10, 236, 67); */
  width: 350px;
}
#cont_img_01 {
  /* border: 3px solid rgb(137, 13, 153); */
  width: 230px;
  height: 345px;
  background-image: url(https://res.cloudinary.com/osstrax/image/upload/v1627141690/landing_sapiensa/img/brand_ser_zvd5eo.jpg);
  background-size: cover;
}
#cont_info_01 {
  /* border: 2px solid rgb(36, 236, 10); */
  background-color: #00b1bb;
  display: flex;
  width: 85px;
  height: 345px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#cont_img_02 {
  /* border: 3px solid sandybrown; */
  width: 490px;
  height: 430px;
  background-image: url(https://res.cloudinary.com/osstrax/image/upload/v1627142427/landing_sapiensa/img/web_i2rar5.jpg);
  background-size: cover;
}
#cont_info_02 {
  /* border: 2px solid rgb(10, 14, 236); */
  background-color: #00b1bb;
  display: flex;
  box-shadow: 2px 2px 12px #6f7070b7;
  width: 314px;
  height: 475px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
  text-align: center;
}

.cont_text {
  padding: 25px;
}

#cont_img_03 {
  /* border: 3px solid rgb(137, 13, 153); */
  width: 230px;
  height: 345px;
  background-image: url(https://res.cloudinary.com/osstrax/image/upload/v1627142845/landing_sapiensa/img/recording_keacgx.jpg);
  background-size: cover;
}
#cont_info_03 {
  /* border: 2px solid rgb(36, 236, 10); */
  background-color: #00b1bb;
  display: flex;
  width: 85px;
  height: 345px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.title_rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.cont_icons {
  /* border: 2px solid rgb(52, 151, 39); */
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 2%;
}

.icons {
  align-items: center;
  margin: 0 1%;
  width: 22%;
  /* border: 3px solid rgb(13, 125, 153); */
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-shadow: .05em .3em .5em #38474728;
}
._span {
  /* border: 3px solid rgb(123, 148, 32); */
  font-weight: 800;
  font-size: 3.9em;
  line-height: 1em;
  color: rgba(148, 148, 148, 0.082);
}
.img_icon {
  margin: 10% 0px;
  /* border: 3px solid rgb(228, 103, 20); */
}

.texto_cont {
  /* border: 3px solid rgb(137, 13, 153); */
  color: rgba(148, 148, 148, 0.863);
  font-size: 0.9em;
  text-align: center;
}

.cont_projects {
  /* border: 3px solid rgb(81, 196, 46); */
  width: 97%;
  height: 60%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cont_projects h2 {
  font-size: 3.5em;
  /* border-bottom: 2px solid #00b1bb; */
}

.cont_carrusel {
  /* border: 3px solid rgb(154, 201, 25); */
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img_projects {
  /* border: 3px solid rgb(94, 104, 240); */
  margin: 0 auto;
  width: 80%;
}
.img_projects img {
  /* border: 3px solid rgb(226, 31, 31); */
  width: 100%;
  margin: 30px auto;
}

.material-icons-outlined {
  /* border: 3px solid rgb(137, 13, 153); */
  padding: 30px;
  border-radius: 50px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
  color: #00b1bb;
}
.material-icons-outlined:hover{
  background-color: #eb6608;
  color: aliceblue;
}

#list_projects {
  /* border: 3px solid rgb(137, 13, 153); */
  width: 80%;
  display: inline-flex;
  justify-content: center;
}

#list_button {
  /* border: 3px solid rgb(29, 153, 13); */
  display: flex;
  width: 100%;
  font-size: 1.3em;
  justify-content: space-around;
  padding: 9px;
}

#list_button li {
  list-style: disc;
}

.icon_der {
  transform: rotate(180deg);
}

#btn_projects {
  border: 2px solid #00b1bb;
  background-color: rgba(240, 255, 255, 0.938);
  border-radius: 1.6em;
  color: #00b1bb;
  font-weight: 600;
  /* height: 3rem; */
  padding: 12px 50px;
  /* width: 11rem; */
}

#btn_projects:hover {
  background-color: #eb6608;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px #541b5f;
  border: none;
  color: azure;
}
.contact_ {
  text-align: center;
  margin: 5% auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.contact_ h2 {
  font-size: 3.5em;
}

.btn_contact {
  border: 2px solid #00b1bb;
  background-color: rgba(240, 255, 255, 0.938);
  border-radius: 1.6em;
  color: #00b1bb;
  font-weight: 600;
  /* height: 3rem; */
  padding: 12px 50px;
  margin: 10px;
  width: 11rem;
}

.btn_contact:hover {
  background-color: #eb6608;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px #541b5f;
  border: none;
  color: azure;
}

#logo_footer {
  display: flex;
  position: relative;
  bottom: -70px;
  margin: 0 auto;
}

#footer_ {
  background-color: #81aeb1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  font-size: 1.2em;
}

